<div class="video-dashboard">
  <app-search (searchEmitted)="updateVideos($event)"></app-search>

  <div [appLoading]='loading'></div>

  <ng-container *ngIf="videos$ | async as videos">
    <div
      *ngIf="videos.length > 0 else videosNotFounded"
      class="video-block"
    >
      <div class="video-block__container container">
        <app-video-preview
          *ngFor="let video of videos"
          [title]="video.snippet.title"
          [date]="video.snippet.publishedAt"
          [imageUrl]="video.snippet.thumbnails.default.url"
          [id]="video.id"
        ></app-video-preview>
      </div>
    </div>

    <ng-template #videosNotFounded>
      <div class="videos-not-found container">
        <p class="videos-not-found__text"> Видео не найдены </p>
      </div>
    </ng-template>
  </ng-container>
</div>
