// Советую почитать как правильно использовать глобальные стили в ангуляр приложениях
// https://www.tektutorialshub.com/angular/angular-global-css-styles/
// https://stackoverflow.com/questions/37484937/angular-cli-how-to-add-global-styles
@use "/src/assets/scss/_mixins.scss" as mixin;

.video-dashboard {
	display: grid;
	gap: var(--standard-gap);
}

.video-block {
	&__container {
		display: grid;
		grid-template-columns: 1fr;
		gap: var(--standard-gap);

		@include mixin.mobile-small {
			grid-template-columns: repeat(2, 1fr);
		}

		@include mixin.desktop {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
