@import "mixins";

.video-dashboard {
	display: grid;
	gap: var(--standard-gap);
}

.videos-not-found {
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    font-size: var(--font-size-big);
  }
}

.video-block {
	&__container {
		display: grid;
		grid-template-columns: 1fr;
		gap: var(--standard-gap);

		@include mobile-small {
			grid-template-columns: repeat(2, 1fr);
		}

		@include desktop {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
