<div class="video-dashboard">
  <app-search (searchEmitted)="updateVideos($event)"></app-search>

  <!--  Весь loading можно реализовать при помощи директивы. Но это так, если совсем делать нечего будет.-->
  <app-loading *ngIf="loading"></app-loading>

  <ng-container *ngIf="videos$ | async as videos">
    <div *ngIf="!(videos.length > 0)" class="videos-not-found container">
      <p class="videos-not-found__text"> Видео не найдены </p>
    </div>

    <div *ngIf="videos.length > 0" class="video-block">
      <div class="video-block__container container">
        <app-video-preview
          *ngFor="let video of videos"
          [title]="video.snippet.title"
          [date]="video.snippet.publishedAt"
          [imageUrl]="video.snippet.thumbnails.default.url"
          [id]="video.id"
        ></app-video-preview>
      </div>
    </div>
  </ng-container>
</div>
