<div class="video-page">
  <div class="video-page__container container">
    <div class="video-page__item video-item" *ngIf="video">
      <h2 class="video-item__title">{{ video.snippet.title }}</h2>
      <iframe class="video-item__video" [src]="safeUrl" ></iframe>
      <div class="video-item__info">
        <div class="video-item__date">
          {{ video.snippet.publishedAt | date : "longDate" }}
        </div>
        <div class="video-item__channel">
          {{ video.snippet.channelTitle }}
        </div>
        <div class="video-item__descr">
          {{ video.snippet.description }}
        </div>
      </div>
    </div>
  </div>
</div>