.video-page {
  // БЭМ. Помнишь такой?
  // "Блок не должен влиять на свое окружение, т. е. блоку не следует задавать внешнюю геометрию (в виде отступов, границ, влияющих на размеры) и позиционирование." (C)
	margin: 30px 0;

  &__container {
    display: grid;
    gap: var(--standard-gap);
  }
}

.video-item {
	display: grid;
	gap: var(--standard-gap);

  // Пустой
	&__title {
	}

	&__video {
		width: 100%;
		height: 500px;
	}

	&__info {
		display: grid;
		gap: var(--small-gap);
		grid-template-areas:
			"channel date"
			"descr descr";
	}

	&__date {
		grid-area: date;
		justify-self: right;
	}

	&__channel {
		grid-area: channel;
		font-weight: bold;
	}

	&__descr {
		grid-area: descr;
	}
}
