.video-page {
  &__container {
    display: grid;
    gap: var(--standard-gap);
  }
}

.video-item {
	display: grid;
	gap: var(--standard-gap);

	&__video {
		width: 100%;
		height: 500px;
	}

	&__info {
		display: grid;
		gap: var(--small-gap);
		grid-template-areas:
			"channel date"
			"descr descr";
	}

	&__date {
    width: 100%;
		grid-area: date;
		text-align: right;
	}

	&__channel {
		grid-area: channel;
		font-weight: bold;
	}

	&__descr {
		grid-area: descr;
	}
}
